@{
  Layout = "_Layout";
}

@using AMC.Models;

<h1>Movies</h1>

@if (@Model.Count == 0)
{
  <h3>No movies have been added yet!</h3>
} 

<ul>
  @foreach(Movie movie in Model)
  {
    <li>@Html.ActionLink($"{movie.MovieName}", "Details", new { id = movie.MovieId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new movie", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>